page-chat {
.messageClass
{
    float: right;
    width: 70%;
    background: #353b48;
    border-radius: 20px;
}

.RecieverClass{
    float: left;
    width: 70%; 
    border-radius: 20px;

}
.Senderzumb
{
    float: right;
    width: 70%;
    padding: 3%;
    color: gray;
}
.RecieverZumb{
    padding: 3%;
    color: gray;
    float: left;
    width: 70%; 
}
}


